@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons.w0ff2); /* For IE6-8 */
  src: local('Material Icons'),
       url(MaterialIcons.woff2) format('woff2'),
       url(MaterialIcons.woff) format('woff'),
       url(MaterialIcons.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

@font-face { font-family: Roboto; src: url(Roboto-Thin.ttf); font-weight: 100; }
@font-face { font-family: Roboto; src: url(Roboto-Light.ttf); font-weight: 300; }
@font-face { font-family: Roboto; src: url(Roboto-Regular.ttf); font-weight: 400; }
@font-face { font-family: Roboto; src: url(Roboto-Medium.ttf); font-weight: 500; }
@font-face { font-family: Roboto; src: url(Roboto-Bold.ttf); font-weight: 700; }
@font-face { font-family: Roboto; src: url(Roboto-Black.ttf); font-weight: 900; }